.player {
  display: grid;
  grid-template-columns: 280px 1fr 300px;
  grid-template-rows: 1fr auto auto;
  height: 100%;
}

.editorArea {
  display: flex;
  flex-direction: column;
  min-height: 0;
  grid-row: 1;
  grid-column: 2;
}

.previewArea {
  grid-row: 2;
  grid-column: 2;
  min-height: 160px;
}

.controlBar {
  grid-row: 3;
  grid-column: 2;
}
